<header class="bg-blue-700 text-white shadow-md">
    <div class="max-w-6xl mx-auto flex justify-between items-center px-6 py-3">
      <h1 class="text-2xl font-semibold tracking-wide cursor-pointer" routerLink="/">
        FindJob
      </h1>
  
      <nav class="flex gap-6 text-sm">
        <a routerLink="/" routerLinkActive="font-bold text-yellow-300" class="hover:text-yellow-200">
          Vacancies
        </a>
        <a routerLink="/companies" routerLinkActive="font-bold text-yellow-300" class="hover:text-yellow-200">
          Companies
        </a>
        <a routerLink="/favorites" routerLinkActive="font-bold text-yellow-300" class="hover:text-yellow-200">
          Favorites
        </a>
      </nav>
    </div>
</header>
  